@import 'global';

$grey: hsl(206deg, 6%, 25%);
$dark-grey: rgb(39, 41, 43);
$orange: #ffbd59;
$lite-grey: rgb(255 255 255 / 39%);
$white-opacity: rgba(255, 255, 255, 0.94);
$white-opacity-disabled: rgba(255, 255, 255, 0.308);
$grey-bg: hsl(210, 6%, 25%);

// MAIN

.h3 {
  margin: 0;
}

.line {
  width: 80%;
  height: 2px;
  margin: 8px auto;

  background: $lite-grey;
  border-radius: 5px;
}

.promo-input,
.page-input {
  padding: 5px;

  background: $white-opacity;
  border: none;
  border-radius: 8px;

  transition: all 0.3s;
}

.promo-input:focus,
.page-input:focus-visible {
  background: $grey;

  transition: all 0.3s;
}

.page-input {
  width: 8vw;
  padding-left: 15px;

  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  text-align: center;

  background-color: $white-opacity;
}

.total {
  width: 30%;
  height: 100%;
  min-height: 300px;

  background: $dark-grey;
}

.cart {
  min-height: 300px;
  height: 100%;

  color: white;
  border-radius: 8px;

  overflow: hidden;

  &__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.total,
.product-list {
  padding: 16px;

  background: $dark-grey;
  border-radius: 8px;
}

// PRODUCT BLOCK

.product-list {
  width: 60%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;

    background: $grey;
    border-radius: 5px;

    &__page-numbers {
      .btn {
        min-width: 42px;
        padding: 5px;

        font-size: 20px;

        background: none;
        color: $white-opacity;
      }

      .btn:hover {
        color: $orange;
      }
    }
  }

  .limit__title {
    margin-right: 10px;

    vertical-align: middle;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 16px;

    background: $grey;
    border-radius: 5px;

    &__number {
      width: 5%;
      margin: 0 10px;
    }

    &__img {
      width: 24%;
      max-width: 120px;
      max-height: 200px;

      border-radius: 5px;

      overflow: hidden;
      &-img {
        width: 100%;
        height: 100%;
      }
    }

    &__details {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 18%;
    }

    &__descr {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
    }
  }

  &__item:last-child {
    margin-bottom: 0;
  }
}

.item__descr__text {
  width: 100%;
  max-width: 360px;
  margin-bottom: 25px;

  font-size: 14px;
  text-align: center;
}

.item__descr__other {
  display: flex;
  justify-content: space-around;
  width: 100%;

  color: $lite-grey;

  .i {
    color: $white-opacity;
  }
}

.item__details__count-controls {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.item__details__stock {
  margin-bottom: 20px;
}

.item__details__count {
  margin: 0 10px;
}

// TOTAL BLOCK

.total__title {
  margin-bottom: 25px;
  padding: 8px;

  background: $grey;
  border-radius: 5px;
}

.total__info {
  text-align: center;

  &__count,
  &__num,
  &__promo-code,
  &__count-with-promo,
  &__promo-code-hint,
  .promo-info {
    margin-bottom: 10px;
  }

  &__promo-code {
    text-transform: uppercase;
    z-index: 2;

    &::placeholder {
      text-transform: initial;
    }
  }

  &__num_through {
    text-decoration: line-through;
  }

  &__num_new-total {
    opacity: 0;

    transition: all 0.8s ease;
  }

  &__num_new-total_active {
    padding-bottom: 0.5em;

    opacity: 1;
  }
}

.promo-info {
  padding: 8px;

  background: $grey-bg;
  border-radius: 5px;
}

.applied-promo-title {
  margin-bottom: 5px;
}

.systems {
  margin-bottom: 8px;
}

// pagination

.btn:disabled {
  color: $white-opacity-disabled;
}

.btn:disabled:hover {
  color: $white-opacity-disabled;
  background-color: $grey;

  cursor: not-allowed;
}

.no-items {
  color: $white-opacity;
}

// promo block
.input-promo-wrapper {
  position: relative;

  transition: all 0.8s ease;

  &_active {
    margin-bottom: 3em;
  }
}

.add-promo {
  position: absolute;
  top: 50%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1em;
  width: 100%;
  height: 3.2em;
  padding-bottom: 0.5em;

  background-color: $orange;
  border-bottom-left-radius: 1.2em;
  border-bottom-right-radius: 1.2em;
  opacity: 0;

  transition: all 0.8s ease;

  &_active {
    opacity: 1;
  }

  &__btn {
    margin: 0;
    padding: 0;

    font-weight: bolder;
    font-size: larger;

    color: $white-opacity;
    background-color: $orange;
    border: none;

    transition: all 0.5s ease;

    cursor: pointer;

    &:hover {
      color: $grey;
    }
  }
}

.added-promo {
  margin-bottom: 1em;

  &__header {
    padding-top: 0.5em;
    padding-bottom: 0.3em;

    border-top: 3px solid $lite-grey;
    border-radius: 30%;
  }

  &__promo-list {
    display: flex;
    flex-direction: column;
  }

  &__promo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 0.3em;
    padding-bottom: 0.3em;

    border-bottom: 1px solid $lite-grey;

    &:last-child {
      border-bottom: 3px solid $lite-grey;
      border-radius: 30%;
    }
  }

  &__btn {
    margin: 0;
    padding: 0;

    font-weight: bolder;
    font-size: larger;

    color: $orange;
    border: none;
    background-color: rgba(255, 255, 255, 0);

    transition: all 0.5s ease;
    transform: rotate(45deg);

    cursor: pointer;

    &:hover {
      color: $white-opacity;
    }
  }
}
