@import 'global';

$grey: hsl(206deg, 6%, 25%);
$dark-grey: rgb(39, 41, 43);
$orange: #ffbd59;
$lite-grey: rgb(255 255 255 / 39%);
$white-opacity: rgba(255, 255, 255, 0.94);

.catalog__wrapper {
  display: flex;
  justify-content: space-between;
}

.filters,
.products {
  width: 100%;
  height: 100%;
  background-color: $grey;
  border-radius: 0.3em;
  font-size: medium;
  color: $white-opacity;
}

.filters {
  max-width: 20em;
  max-height: 51.75em;
  margin-right: 1.25em;
  padding: 0.75em 0.5em 0.625em 0.5em;

  &__item {
    margin: 0.5em 0;
    padding: 0.3125em;
    border-radius: 0.3em;
    background-color: $dark-grey;

    &__title {
      text-align: center;
      margin: 0.5em 0;
    }

    &__list__item {
      display: flex;
      padding-bottom: 0.75em;
    }

    &__title__subline {
      width: 100%;
      height: 1px;
      background: #ffa50030;
      margin: 0.3125em 0 0.8125em 0;
    }
  }

  .reset {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.9375em;
  }

  .list__name {
    margin-left: auto;
    padding-left: 0.3rem;
    color: $lite-grey;
  }
}

.btn__right-padding {
  margin-right: 1.25em;
}

// input slider

.slider {
  .complete {
    background-color: $orange;
  }
}

.slider {
  .marker {
    background-color: $orange;
  }
}

.range {
  margin-bottom: 0.3125em;
}

.label {
  cursor: pointer;
}

.custom__checkbox {
  cursor: pointer;
}

.custom__checkbox:checked {
  accent-color: $orange;
}

.input-range {
  width: 100%;
  max-width: 19.375em;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-webkit-slider-runnable-track {
    border-radius: 0.625em;
    height: 100%;
    max-height: 0.625em;
    border: 0.125em solid $orange;
    background-color: $lite-grey;
  }
  &::-webkit-slider-thumb {
    background: $grey;
    border: 0.125em solid $orange;
    border-radius: 100%;
    cursor: pointer;
    width: 0.9375em;
    height: 0.9375em;
    -webkit-appearance: none;
    margin-top: -0.25em;
  }
}

.range__text {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.625em;

  &__span {
    width: 100%;
    max-width: 6.5625em;
    text-align: center;
  }
}

// products block

.products {
  width: 100%;
  max-width: 75em;
  padding: 0.5em;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625em;
    padding: 0.5em;
    background: $dark-grey;
    border-radius: 0.3em;

    &__views {
      display: flex;
      justify-content: space-around;
    }

    &__view-main,
    &__view-big {
      display: flex;
      flex-wrap: wrap;
      max-width: 2.375em;
      border: 1px solid rgba($orange, 0.5);
      border-radius: 0.1875em;
      cursor: pointer;
      transition: all 0.5s;
    }

    &__view-main {
      padding: 0.125em;
      margin-right: 0.3125em;
    }

    &__view-main:hover,
    &__view-big:hover {
      border: 1px solid rgba($orange, 0.3);
      transition: all 0.5s;
      filter: brightness(110%);
    }

    &__view-big {
      padding: 0.125em 0.1875em;
    }
  }
}

.view-active {
  box-shadow: 0 0 0 0.125em rgba($orange, 0.7);
}

.sort__list__btn {
  display: flex;
  align-items: center;
  padding: 0.5em 0.625em 0.5em 0.9375em;
}

.sort__list__btn-text {
  margin-right: 1.5625em;
}

// shapes

.round__shape {
  max-width: 30%;
  width: 6px;
  height: 6px;
  background: $orange;
  border-radius: 100%;
  overflow: hidden;
  margin: 1px;
  font-size: 1em;
  white-space: nowrap;
  user-select: none;
}

.round__shape.little {
  width: 0.1875em;
  height: 0.1875em;
}

.triangle-down {
  width: 0.9375em;
  height: 0.9375em;
  margin: 0 0.625em 0.4375em 0;
  background: none;
  border-top: 0.15625em solid $dark-grey;
  border-right: 0.15625em solid $dark-grey;
  transform: rotate(135deg);
}

// products table

.products__table {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: rgba(39, 41, 43, 0.6);
  border-radius: 0.3em;
  padding: 0.5em;

  &__item {
    width: 100%;
    height: 100%;
    max-width: 23%;
    background-color: $dark-grey;
    border-radius: 0.3em;
    margin-right: 1.2rem;
    margin-bottom: 1.25em;
    padding: 0.5em;

    &-title {
      width: 100%;
      min-height: 4em;
      display: flex;
      justify-content: center;
      align-items: center;
      background: hsl(206deg, 6%, 25%);
      text-align: center;
      border-radius: 0.125em;
      padding: 0 0.1875em;
      color: rgba(255, 255, 255, 0.94);
      font-size: 1em;
      margin-bottom: 0.625em;
    }

    &-info {
      display: flex;
      flex-direction: column;
      background: $dark-grey;

      .span {
        margin-bottom: 0.5em;
      }
    }

    &-img {
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 12.5em;
      overflow: hidden;
      margin-bottom: 0.625em;

      .img {
        width: 100%;
      }
    }

    &-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.125em;
    }
  }
}

.empty__title {
  text-align: center;
}

.slider.cycle-marker {
  .marker {
    pointer-events: none;
  }
}
