@import 'global';
@import 'variables';

.details__wrapper {
  width: 100%;
  height: 100%;
  padding: 1em;

  font-size: medium;

  color: $white-opacity;
  background-color: $grey;
  border-radius: 0.3125em;

  overflow: hidden;
}

.link__nav {
  display: flex;
  align-items: center;
  margin: 0.5em 0;

  background: $dark-grey;
  border-radius: 0.3125em;

  &-wrapper {
    display: flex;
    align-items: center;
    min-height: 3.125em;
    padding: 0.5em;

    text-transform: uppercase;
  }

  &-item {
    margin: 0 1.875em;

    text-decoration: none;
  }
}

.product__card-title {
  text-align: center;
}

.product__card__info {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 1em;

  background: $dark-grey;
  border-radius: 0.3125em;

  &-slides {
    display: flex;
    flex-direction: column;
    width: 10%;

    &-slide__container {
      width: 100%;
      max-width: 5em;
      max-height: 4.25em;
      margin: 0 0 0.625em 0.625em;

      border-radius: 0.3125em;

      cursor: pointer;
      overflow: hidden;
    }

    &-slide__container.active {
      box-shadow: $orange 0px 0px 6px 0px;
    }

    .slides-image {
      width: 100%;

      border-radius: 0.3125em;
    }
  }
}

.product__card__img {
  display: flex;
  width: 35%;
  height: 500px;
  margin-right: 20px;

  &-img {
    display: block;
    max-width: 100%;

    border-radius: 0.3125em;
    box-shadow: rgb(0 0 0 / 70%) 0px 0px 19px 0px;

    object-fit: cover;
  }
}

.product__card__descr {
  width: 40%;
  margin-right: 20px;

  &-item {
    width: 100%;
    margin-bottom: 0.5em;

    text-align: center;

    background: $grey;
    border: 1px solid $orange;
    border-radius: 0.3125em;

    overflow: hidden;

    &__title {
      padding: 0.5em;

      background: $dark-grey;
    }
  }

  &-item__text {
    padding: 0.5em;
  }
}

.product__card__add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22%;
  height: 100%;
  min-height: 280px;

  text-align: center;

  background: $grey;
  border: 1px solid orange;
  border-radius: 0.3em;
  box-shadow: $black-opacity 0px 0px 19px 0px;

  &-price {
    font-size: 2em;
  }

  .btn {
    margin: 1.25em 0;
    padding: 11px;
  }
}
