@import 'global';

$catalog-bg-color: hsl(206, 6%, 25%);
$category-text-color:  #ffbd59;

$gap-in-grid-container: 0.1em;

.main {
  &__wrapper{
    margin: 0 1em;
  }

  &__header {
    color: $text-color;
  }
}

.catalog-list {
  display: flex;
  justify-content: space-around;
  background-color:  $catalog-bg-color;
  border-radius: 1em;
  font-size: 1.1em;
  font-weight: 400;

  &__category {
    padding: 1em 1em;
    cursor: pointer;
    color: $category-text-color;
    opacity: 0.8;
    transition: color .5s;
    &:hover {
      opacity: 1;
    }
  }
}

.popular-items {
  &__wrapper {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "most other"
                          "most other";
    gap: $gap-in-grid-container;
    border-radius: 1%;
  }
  &__img {
    width: 100%;
    height: 100%;
    border-radius: 1%;
    object-fit: cover;
    filter: brightness(75%);
    transition: filter .5s;
    
    &:hover {
      filter: brightness(100%);
    }
  }
  &__most-popular-item {
    grid-area: most;
    .popular-items__item {
      height: 100%;
    }
  }
  &__others-popular-items {
    grid-area: other;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: $gap-in-grid-container;
  }
  &__item {
    position: relative;
  }
  &__name-and-price {
    position: absolute;
    color: $text-color;
    top: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: rgba(9, 54, 94, 0.286);
    width: 100%;
    font-size: 0.9em;
  }
  &__name-and-price-wrapper {
    margin-left: 0.5em;
  }
}