@import 'global';
@import 'variables';

.page404 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text {
  white-space: nowrap;

  color: $text-color;

  &__h1 {
    font-size: 2em;
  }

  &__link-to-main {
    display: inline-block;
    margin: 1em 0;
    padding: 0.5em;

    text-transform: uppercase;

    color: $text-color;
    border: 2px solid $text-color;
    border-radius: 0.5em;

    transition: all 0.8s ease;

    &:hover {
      color: $orange;
      border-color: $orange;
    }
  }
}
