@import 'global';

$popup-blackout: rgba(0, 0, 0, 0.8);
$input-bg-color: hsl(206, 6%, 25%);
$input-color: rgba(255, 255, 255, 0.94);
$input-placeholder-color: rgba(255, 255, 255, 0.403);
$orange: #ffbd59;

$input-radius: 2em;
$container-radius: 0.5em;

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $popup-blackout;
  top: 0;
  left: 0;
  // opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;

  &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
  }

  &__content {
    background-color: $main-color;
    max-width: 700px;
    min-width: 300px;
    position: relative;
    border-radius: $container-radius;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  }

  .cross {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: large;
    color: $orange;
    cursor: pointer;
  }

  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__h4 {
    color: $orange;
  }

  &__confirm {
    background: none;
    padding: 0.5em;
    margin: 1em 0;
    border: 2px solid $text-color;
    border-radius: $container-radius;
    text-transform: uppercase;
    color: $text-color;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    // add transition for hover

    &:hover {
      color: $orange;
      border-color: $orange;
    }
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1em;
}

.input {
  background-color: $input-bg-color;
  border: none;
  border-radius: $input-radius;
  height: 2.5rem;
  padding-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  font-size: medium;
  color: $input-color;
  outline: none;
  font-family: 'Roboto', sans-serif;

  &::placeholder {
    color: $input-placeholder-color;
    font-family: 'Roboto', sans-serif;
  }

  //убираем стрелочки у типа number
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
}

.input:hover,
.input:focus {
  border: 3px solid $border-hover-color;
  -webkit-box-shadow: 7px 7px 20px 0px $border-hover-color;
  -moz-box-shadow: 7px 7px 20px 0px $border-hover-color;
  box-shadow: 7px 7px 20px 0px $border-hover-color;
}

.credit-card-container {
  background-color: $input-bg-color;
  margin: 1em;
  margin-top: 0;
  padding: 1em;
  max-width: 60%;
  border-radius: $container-radius;
}

.credit-card {
  display: flex;
  flex-direction: column;
  padding: 0 1em;

  &__image-n-input {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    gap: 0.5em;
  }

  &__image-wrapper {
    background-color: $input-color;
    padding: 0.2em 0.2em;
  }

  &__image {
    width: 100%;
  }

  &__text {
    color: $input-color;
  }

  &__date-n-cvv {
    display: flex;
    gap: 0.5em;
  }

  &__text-n-input {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 0.5em;
  }

  .input {
    background-color: rgba(255, 255, 255, 0.137);
  }
}

// .popup.open {
.popup.active {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup.active .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.body.lock {
  overflow: hidden;
}


// validity
.popup {
  .input + span {
    position: relative;
  }
  
  .input + span::before {
    position: absolute;
    right: -20px;
    top: 5px;
  }
  
  .input:invalid {
    border: 2px solid red;
  }
  
  .input:focus:invalid {
    border: 2px solid red;
  }
  
  .input:invalid + span::before {
    content: "✖";
    color: red;
  }

  .input:invalid:required {
    border: none;
    border-bottom: 2px solid $orange;
  }

  /* Стилизация сообщений об ошибках */
  .error {
    width  : 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
  }

  .error.active {
    padding: 0.3em;
  }
}