@import 'global';
@import 'variables';

$input-radius: 2em;
$container-radius: 0.5em;

.popup {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  background-color: $popup-blackout;
  opacity: 0;

  transition: all 0.8s ease 0s;

  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;

  &__body {
    display: flex;
    align-self: center;
    gap: 1rem;
    margin: 0 0.5rem;
  }

  &__content {
    position: relative;

    background-color: $main-color;
    border-radius: $container-radius;
    opacity: 0;

    transition: all 0.8s ease 0s;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  }

  .cross {
    font-size: 2rem;

    color: $orange;

    cursor: pointer;
  }

  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__h4 {
    color: $orange;
  }

  &__confirm {
    margin: 1rem 0;
    padding: 0.5rem;

    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;

    color: $text-color;
    background: none;
    border: 2px solid $text-color;
    border-radius: $container-radius;

    transition: all 0.8s ease;

    cursor: pointer;

    &:hover {
      color: $orange;
      border-color: $orange;
    }
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
}

.input {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  height: 2.5rem;

  font-family: 'Roboto', sans-serif;
  font-size: medium;

  color: $white-opacity;
  background-color: $grey;
  border: none;
  border-radius: $input-radius;
  outline: none;

  &::placeholder {
    font-family: 'Roboto', sans-serif;

    color: $input-placeholder-color;
  }

  //убираем стрелочки у типа number
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
  }
  -moz-appearance: textfield;
}

.input:hover,
.input:focus {
  border: 3px solid $border-hover-color;
  box-shadow: 7px 7px 20px 0px $border-hover-color;
}

.credit-card-container {
  margin: 1rem;
  margin-top: 0;
  padding: 1rem;
  max-width: 65%;

  background-color: $grey;
  border-radius: $container-radius;
  
  @media (max-width: 466px) {
    max-width: 80%;
  }
}


.credit-card {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  &__image-n-input {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    gap: 0.5rem;
  }

  &__image-wrapper {
    padding: 0.2rem 0.2rem;

    background-color: $white-opacity;
  }

  &__image {
    width: 100%;
  }

  &__text {
    color: $white-opacity;
  }

  &__date-n-cvv {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  &__text-n-input {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;

    white-space: nowrap;
  }

  .input {
    background-color: rgba(255, 255, 255, 0.137);

    &__date {
      width: 4rem;
    }

    &__cvv {
      width: 3.3rem;
    }
  }
}

// .popup.open {
.popup.active {
  z-index: 10;

  opacity: 1;

  visibility: visible;
}

.popup.active .popup__content {
  opacity: 1;

  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

// validity
.popup {
  .input:invalid:required {
    border: none;
    border-bottom: 2px solid $orange;
  }
}

// confirm
.confirm-text {
  padding: 2rem 1.5rem;

  color: $orange;
}
