$main-color: #1f1e1e;
$black-opacity: #000000b3;
$popup-blackout: #000000cc;

$text-color: #ffffff;
$white-opacity: #fffffff0;

$border-hover-color: #7a5f3c73;

$text-color-dark: #535353;
$grey: #3c4044;
$lite-grey: #ffffff63;
$white-opacity-disabled: #ffffff4f;
$input-placeholder-color: #ffffff67;

$dark-grey: #27292b;

$orange: #ffbd59;

$transparent-orange: #ffbd594d;
$brown-opacity: #ffa50030;