<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="body">
    <div id="root" class="app body__wrapper">
      <header id="header">
        <div class="header__wrapper">
          <h1 class="header__logo">
            <img
              class="header__logo-img"
              src="../../../assets/img/AnimeOz-removebg-preview.png"
              data-alt="logo" />
          </h1>
          <div class="search">
            <input class="search__input" type="text" placeholder="Search" /><button
              class="search__button">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="search__svg">
                <path
                  d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z"></path>
              </svg>
            </button>
          </div>
        </div>
      </header>
      <main id="main">
        <div class="main__wrapper">
          <h2 class="main__header">Catalog</h2>
          <div id="open-popup">Open popup</div>
          <aside class="main__catalog">
            <ul class="catalog-list">
              <li class="catalog-list__category">
                <a id="filter" href="/filter">Let's shopping!</a>
              </li>
            </ul>
          </aside>
          <h3 class="main__header">Sales hits</h3>
          <article class="main__popular-items">
            <div class="popular-items__wrapper">
              <div class="popular-items__most-popular-item">
                <div class="popular-items__item">
                  <img
                    class="popular-items__img"
                    src="../../../assets/img/bloknotKlinok.jpg"
                    data-alt="item photo" />
                  <div class="popular-items__name-and-price">
                    <div class="popular-items__name-and-price-wrapper">
                      The notebook of the demon hunter 325 $
                    </div>
                  </div>
                </div>
              </div>
              <div class="popular-items__others-popular-items">
                <div class="popular-items__item">
                  <img
                    class="popular-items__img"
                    src="../../../assets/img/figurinesBleanch1.jpg"
                    data-alt="item photo" />
                  <div class="popular-items__name-and-price">
                    <div class="popular-items__name-and-price-wrapper">
                      <span class="popular-items__item-name"
                        >Figure from the anime «Bleach» 120 $</span
                      >
                    </div>
                  </div>
                </div>
                <div class="popular-items__item">
                  <img
                    class="popular-items__img"
                    src="../../../assets/img/bookOnePunchMan2.jpg"
                    data-alt="item photo" />
                  <div class="popular-items__name-and-price">
                    <div class="popular-items__name-and-price-wrapper">
                      <span class="popular-items__item-name">Garowe Poster 304 $</span>
                    </div>
                  </div>
                </div>
                <div class="popular-items__item">
                  <img
                    class="popular-items__img"
                    src="../../../assets/img/cosplayNaruto3.jpg"
                    data-alt="item photo" />
                  <div class="popular-items__name-and-price">
                    <div class="popular-items__name-and-price-wrapper">
                      <span class="popular-items__item-name"
                        >Kakashi Hatake Cosplay Costume 2990 $</span
                      >
                    </div>
                  </div>
                </div>
                <div class="popular-items__item">
                  <img
                    class="popular-items__img"
                    src="../../../assets/img/mangaonePiece2.jpeg"
                    data-alt="item photo" />
                  <div class="popular-items__name-and-price">
                    <div class="popular-items__name-and-price-wrapper">
                      <span class="popular-items__item-name"
                        >Manga One Piece.The Big jackpot. Book 4. Ode to E. 927 $</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </main>
      <footer id="footer">
        <div class="footer__wrapper">
          <section class="footer__signature">
            <a class="footer__link" href="https://github.com/AlyaKavalenka"
              ><img
                class="footer__github-logo"
                src="../../../assets/icons/github.svg"
                data-alt="github" /><span class="footer__name">Alya Kavalenka</span></a
            ><a class="footer__link" href="https://github.com/ulianasavi"
              ><img
                class="footer__github-logo"
                src="../../../assets/icons/github.svg"
                data-alt="github" /><span class="footer__name">Uliana Savitskaya</span></a
            >
            <div class="footer__date">December, 2022</div>
          </section>
          <section class="footer__course">
            <a class="footer__link" href="https://rs.school/js/"
              ><img
                class="footer__course-logo"
                src="../../../assets/icons/rsschool.svg"
                data-alt="course-logo"
            /></a>
          </section>
        </div>
      </footer>
      <section class="popup" id="popup">
        <a href="#open-popup" class="popup__area"></a>
        <div class="popup__body">
          <div class="popup__content">
            <a href="##" class="popup__close"></a>
            <div class="popup__block">
              <h4 class="popup__h4">Personal details</h4>
              <div class="input-container">
                  <input class="input input__name" type="text" placeholder="Name and Surname" />
                  <input class="input input__phone" type="text" placeholder="Phone number" />
                  <input class="input input__address" type="text" placeholder="Delivery address" />
                  <input class="input input__email" type="text" placeholder="E-mail" />
              </div>
              <h4 class="popup__h4">Credit card details</h4>
              <div class="credit-card-container">
                <div class="credit-card">
                  <div class="credit-card__image-n-input">
                    <div class="credit-card__image-wrapper">
                      <img alt="pay logo" src="https://cdn.visa.com/v2/assets/images/logos/visa/blue/logo.png" class="credit-card__image">
                      <!-- visa src='https://cdn.visa.com/v2/assets/images/logos/visa/blue/logo.png' -->
                      <!-- mastercard src='https://cdn.visa.com/v2/assets/images/logos/visa/blue/logo.png' -->
                    </div>
                    <input type="text" class="input input__card-number" placeholder="Card number">
                  </div>
                  <div class="credit-card__date-n-cvv">
                    <div class="credit-card__text-n-input">
                      <span class="credit-card__text">Expiration date</span>
                      <input type="text" class="input input__date" placeholder="12/23">
                    </div>
                    <div class="credit-card__text-n-input">
                      <span class="credit-card__text">CVV</span>
                      <input type="text" class="input input__cvv" placeholder="132">
                    </div>
                  </div>
                </div>
              </div>
              <a href="##" class="popup__confirm popup__close">Confirm</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
